{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://thumbs.dreamstime.com/b/film-reel-clapperboard-isolated-blue-background-pastel-colors-minimalist-creative-concept-cinema-movie-entertainment-186289646.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a computer science major at Providence College. But, I also have a passion for movies so I am taking a movie analysis course. I realise that I would love to share my movie reviews to use guys and hear your thoughts about it.</p>
        <p>This is also one of the very first website I create with Python for the back end. It is a new experience for me and hope this web also brings great reading experience to you!</p>
        <p>Sit back and enjoy. Hope you will find good movies suggestions from here!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}